.navigation-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: calc(100% - 40px);
}

.brand-name {
    font-size: 40px;
    font-family: 'OpenSans Extra Bold';
    font-weight: 500;
    margin: 0;
}

.nav-item {
    font-family: 'OpenSans Light';
    padding-right: 20px;
}

