.result-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.photo-result-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.photo-result-container img {
    border-radius: 20px;
}

.text-results-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    height: 100%;
}

.text-results-container h2 {
    font-size: 40px;
    font-family: 'OpenSans Light';
    margin: 0;
    padding: 0;
}

.text-result-item {
    margin-top: 20px;
    width: 300px;
    display: flex;
    flex-direction: row;
}

.text-result-name {
    font-family: 'OpenSans Extra Bold';
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
}

.text-result-name label {
    font-family: 'OpenSans Light';
    font-size: 22px;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 200px;
}

table {
    border-collapse: separate;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    border-radius: 20px;
    overflow: hidden;
}
  
table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
  
table tr {
    background-color: #fff9e9;
    padding: .35em;
    cursor: pointer;
}

table tr:hover {
    background-color: #faf9f2;
    padding: .35em;
    cursor: pointer;
}
  
table th,
table td {
    padding: .625em;
    text-align: center;
}
  
table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.none {
    display: none;
}

